<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{author}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
      <div class="container">
        <h1 class="is-size-2">{{author}}</h1>
        <br>
    </div>
        {% for post in posts %}
        <div class="container">
            <p class="is-size-7 has-text-grey">~{{post.date}}</p>    
            <p>{{post.body}}</p>
            <input type="hidden" name="next" value="{{ request.path }}">
            <a href="/like?id={{post.id}}">Like ({{post.likes.count}})</a>
            {% if post.author == user %}
            <a href="/delete?id={{post.id}}">Delete</a>
            {% endif %}
            <br>
            <hr> 
        </div>
        {% endfor %}
    <br>
    <div class="container">
    <a href="/logout">Log Out</a>
    <br>
    <a href="/home">Home</a>
    </div>
      </body>
</html>